<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SlyVision: AI-powered vision and speech interaction platform">
        <meta name="keywords" content="SlyVision, AI, Chatbot, Image Generation, Speech Recognition">
        <meta name="author" content="SlyVision">
        <title>SlyVision</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="../static/css/img_gen.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
        <link rel="icon" href="data:,">
        <script src="{{ url_for('static', filename='js/img_gen.js') }}"></script>
        <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    </head>
<body>
    <div class="container-fluid h-100 d-flex flex-column">
        <button class="btn animate__animated animate__fadeIn" id="sidebarToggleBtn">≡</button>
        <div id="sidebar" class="sidebar animate__animated animate__fadeInLeft">
            <div id="sidebar-buttons">
                <button class="btn btn-secondary animate__animated animate__fadeIn" id="new-chat-button">New Chat</button>
                <a href="/img_history" class="btn btn-primary animate__animated animate__fadeIn" id="history-button">History Activity</a>
                <button class="btn btn-secondary animate__animated animate__fadeIn" id="features-button">Features</button>
            </div>
            <div class="profile-actions">
                <div class="profile">
                    <button class="profile-button" id="options-toggle">
                        <div class="profile-info">
                            <div class="profile-name"></div>
                        </div>
                        <i class="fas fa-ellipsis-h profile-icon"></i>
                    </button>
                    <div class="actions animate__animated animate__fadeInUp" id="actions">
                        <a href="#" class="action-link" id="feedback" data-toggle="modal" data-target="#feedbackModal">Feedback</a>
                        <a href="#" class="action-link" id="settings">Settings</a>
                        <a href="#" class="action-link" id="logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex">
                        <!-- Vertical button section -->
                        <div class="settings-navigation">
                            <button class="settings-nav-btn active" id="themeSettingsButton">Theme Select</button>
                            <button class="settings-nav-btn" id="imageSettingsButton">Image Select</button>
                        </div>
                        <!-- Content -->
                        <div class="settings-content">
                            <!-- Theme Select -->
                            <div class="settings-section" id="themeSection">
                                <label for="themeSelect" style="font-weight: bold; color:black; font-size: 20px;">Select Theme:</label>
                                <select class="form-control" id="themeSelect">
                                    <option value="lavender">Lavender</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                    <option value="purple">Purple</option>
                                    <option value="red">Red</option>
                                </select>
                            </div>
                            <!-- Image Select -->
                            <div class="settings-section" id="imageSection" style="display: none;">
                                <label for="imageSelect" style="font-weight: bold; color:black; font-size: 20px;">Select Chat Container Image:</label>
                                <select class="form-control" id="imageSelect">
                                    <!-- Options for images -->
                                    <option value="none">None</option>
                                    <option value="image1">Image 1</option>
                                    <option value="image2">Image 2</option>
                                    <option value="image3">Image 3</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveSettings">Save</button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="feedbackModalLabel">Feedbacks</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="feedbackForm">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 col-form-label" style="color: black;">Username:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="username" name="username" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="feedback" class="col-sm-3 col-form-label" style="color: black;">Comments:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="feedback" name="feedback"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submitFeedback">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
        <div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" aria-labelledby="featuresModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="featuresModalLabel">Features</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body feature-cards">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="icon-container mb-3">
                                            <i class="fa fa-comment feature-icon"></i>
                                        </div>
                                        <h5 class="card-title" id="h5-chat">Chat AI</h5>
                                        <p class="card-text">Chat AI can communicate and interact in a human-like manner, providing an engaging user experience.</p>
                                        <a href="{{ url_for('slyvision') }}" class="btn btn-primary">Learn More about Chat AI</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="icon-container mb-3">
                                            <i class="fa fa-comment feature-icon"></i>
                                        </div>
                                        <h5 class="card-title" id="h5-img">Image Generator AI</h5>
                                        <p class="card-text" id="h5-img-text">Image Generator AI can create unique and visually appealing images based on user's input.</p>
                                        <a href="{{ url_for('img_gen') }}" class="btn btn-primary">Learn More about Image-Gen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>                  
        <div id="content" class="content flex-grow-1 p-3 animate__animated animate__fadeInRight">
            <div class="chat-container bg-light animate__animated animate__fadeInUp" id="chat-border">
                <div class="chat-header" id="chat-header">
                    <h1>SlyVision.JPG</h1>
                </div>
                <div class="chat-content" id="chat-container"></div>
            </div>
            <div class="user-input">
                <form id="chat-form" method="post">
                    <button type="button" id="speaks-button" onclick="toggleSpeech()">Activate speech</button>
                    <div class="textarea-container">
                        <textarea name="prompt" id="input-prompt" placeholder="Type your message" required></textarea>  
                        <div class="center" id="waving">
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <span class="loading">Loading..</span>
                        </div>   
                    </div> 
                    <button type="submit" id="send-button">Send</button>
                </form>
            </div>
            
        </div>
    </div>    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
    <script>
    VANTA.WAVES({
    el: "body",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xDFC5FE,
    shininess: 50.00,
    waveHeight: 20.00,
    waveSpeed: 1.00,
    zoom: 0.83
    });

    
    </script>
</body>
</html>
